body {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.navigation {
  font-size: 1.6em;
}
.contact {
  font-size: 1.8em;
  text-decoration: underline;
}
.normal_text {
  font-size: 1rem;
  color: #fff;
  opacity: 0.6;
  font-family: "DM Sans", sans-serif;
}
